{:source-paths ["src" "test"]
 
 :dependencies [[reagent "1.2.0"]
                [org.clojure/test.check "1.1.1"]]
 
 :dev-http {8020 {:root ".dev-build"
                  :handler shadow.http.push-state/handle}}
 
 :builds
 {:app {:target :browser
        :output-dir ".dev-build/js"
        :asset-path "/js"
        :modules {:main {:init-fn exercise-timer.core/init!}}
        :build-hooks [(build-hooks/copy-static-assets)]
        :devtools {:after-load exercise-timer.core/reload!
                   :preloads [shadow.cljs.devtools.client.browser]}}
  
  :release {:target :browser
            :output-dir "docs/js"
            :asset-path "/js"
            :modules {:main {:init-fn exercise-timer.core/init!}}
            :compiler-options {:optimizations :advanced
                               :infer-externs :auto
                               :output-feature-set :es6}
            :build-options {:manifest-name "manifest.edn"}}
  
  :test {:target :node-test
         :output-to "out/test.js"
         :autorun true}}}
